body, html {
    margin: 0 auto;
    padding: 0;
    height: 100%;
}
.full-bg {
    background-image: url("../imgs/nate-grant-QQ9LainS6tI-unsplash.jpg"); 
    height: 100%;
    background-position: center;
   color: white;

}
