:root {
    --primary-color: white;
    --secondary-color: black;
    --trim-color: gray;
    --leading-font: 'Unbounded', cursive;
    --secondary-font: font-family: 'Alumni Sans Pinstripe', sans-serif;
}
body, html {
    margin: 0 auto;
    padding: 0;
    height: 100%;
}
h1,h2,h3,h4,h5,a {
    font-family: var(--leading-font);
}
p,span {
    font-family:'Alumni Sans Pinstripe', sans-serif;;
}
.full-bg {
    background-image: url("../imgs/jake-weirick-9um4z5VdfkQ-unsplash.jpg"); 
    height: 100%;
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: cover;
    color: var(--primary-color);
}
.mainHdr {
    padding-top: 30%;
}
.mainHdr h1 {
    font-size: em;
}

